/* Mixins */
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	   -moz-box-sizing: $box-model;
		    box-sizing: $box-model;
}

@mixin clear-fix {
	display: table;
	content: "";
	clear: both;
}

/* Border-box */
*, *:after, *:before {
	@include box-sizing(border-box);
}

/* Grid layout */

$grid-gutter: 1%;

.container {
	width: 100%;
	height: auto;
}

.row:after {
	@include clear-fix;
}

[class*='c-m'] {
	float: left;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}

/* TODO: add responsivness to columns (l, xs, etc...) */
@for $i from 1 through 12 {
	.c-m-#{$i} {
		width: 100% * ($i / 12);
	}
}


/* FlexBox container */
.flex-container {
	display: flex;

	.flex-item {
		padding: $grid-gutter;
	}
}

/* Responsivness, when on mobile make columns fit screen space */
@media all and (max-width: 400px) {
	[class*='c-m'] {
		width: 100%;
	}

	.flex-container {
		display: block;
	}
}