@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: Lato;
	font-size: 18px;
}

h1 {
	font-size: 2.3em;
	color: #333333;
	margin-bottom: 0.5em;
}

p {
	font-size: 1em;
	color: #1a1a1a;
	margin-bottom: 0.5em;
}