.big-title {
	text-align: center;
	background-color: #808080;
	h1 {
		color: #e6e6e6;
		line-height: 2em;
		height: auto;
	}
}

.img-responsive {
	width: 100%;
	height: auto;
}

.round {
	border-radius: 50%;
}